<div style="padding:5px;">
	<!--<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"> </script>-->
	<script>
		function callApi(request) {
			console.log("BlinkyControl says: hey..."+request);
			var apiPrefix = "/plugin/blinkycontrol/";
			$.get(apiPrefix + request);
		}
	</script>

	<h3>BlinkyControl Manual Controls</h3>
	<input type="submit" value="On" onclick="callApi('on');">
	<input type="submit" value="Off" onclick="callApi('off');">

	<div>
		<h4>Colors</h4>
		<input type="submit" value="White" onclick="callApi('white');">
		<input type="submit" value="Red" onclick="callApi('red');">
		<input type="submit" value="Green" onclick="callApi('green');">
		<input type="submit" value="Blue" onclick="callApi('blue');">
	    <input type="submit" value="Light Blue" onclick="callApi('lightblue');">
		<input type="submit" value="Purple" onclick="callApi('purple');">
	    <input type="submit" value="Yellow" onclick="callApi('yellow');">
	</div>

	<div>
		<h4>Intensity</h4>
		<input type="submit" value="Decrease" onclick="callApi('decreaseintensity');">
		<input type="submit" value="Increase" onclick="callApi('increaseintensity');">
	</div>
</div>
